body {
  background-color: #f65555;
}
input {
  display: inline-block;
  width: 50%;
  padding: 10px 15px;
  margin: 10px;
  border: solid #000000;
  border-radius: 30px 30px 30px 30px;
}
h1, h2{
  padding: 5px;
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
h1 {
  font-size: 1.728em; /* using 1.2 minor third ratio: 1.728em,1.44em,1.2em,1em */
  line-height: 1.728em;
  padding: 15px;
}
h2 {
  font-size: 1.44em;
  line-height: 1.44em;
}
h3 {
  font-size: 1.2em;
  padding: 5px;
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: bold;
  color: black;
  line-height: 1.2em;
}
#flag {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 15%;
  height: 15%; 
  display: block;
  float: none;
  padding: 15px;
}
form, #form2, #form3, #form4, #form5, #form6 {
  padding: 5px;
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 1em;
  line-height: 1em;
}
h4,a {
  font-family: 'Bitter', serif;
  text-align: left;
  padding: 15px;
}
h4 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
#button {
  font-family: 'Oswald', sans-serif;
  font-size:1.2em;
  line-height:1.2em;
}
#paragraph1, #paragraph2 {
  font-family: 'Bitter', serif;
  text-align: justify;
  padding: 20px;
  color: white;
  font-size: 1.2em;
  line-height:1.2em;
}
@media only screen and (min-width: 1000px) {
body {
  background-color: #f65555;
}
h1, h2{
  padding: 5px;
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
h1 {
  font-size: 25px;
  padding: 15px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 15px;
  padding: 5px;
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: bold;
  color: black;
}
#flag {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 25%;
  height: 25%; 
  display: block;
  float: none;
  padding: 5px;
}
form, #form2, #form3, #form4, #form5, #form6 {
  padding: 5px;
  text-align: center;
  font-family: 'Bitter', serif;
  font-weight: bold;
  font-size: 14px;
}
h4,a {
  font-family: 'Bitter', serif;
  text-align: left;
  padding: 15px;
}
h4 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
#button {
  font-family: 'Oswald', sans-serif;
}
#paragraph1, #paragraph2 {
  font-family: 'Bitter', serif;
  font-size: 14px;
  color: white;
  padding: 10px;
}
a {
  font-size: 12px;
  display: block;
  text-align: left;
}
input {
  display: inline-block;
  width: 50%;
  padding: 10px 15px;
  margin: 10px;
  border: solid #000000;
  border-radius: 30px 30px 30px 30px;
}
}
